.book_description__container {
  padding: 20px 10px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.158);
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  @media (max-width: 550px) {
    padding: 0;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0);
  }
  @media (min-width: 990px) {
    height: 250px;
    overflow: scroll;
    &::-webkit-scrollbar-thumb {
      background-color: rgb(194, 194, 194);
      border-radius: 5px;
      z-index: 1;
    }
    &::-webkit-scrollbar {
      cursor: pointer;
      width: 5px;
      height: 0px;
    }
  }

  .book_description {
    line-height: 25px;
    font-size: 1.1rem;
    font-weight: 600;
    @media (max-width: 550px) {
      font-size: 1rem;
    }
  }
}
